{{yield}}
<li>
  <hr>
  <h3>{{post.title}} - Dated: {{post.date}}</h3>
  <img class="blog-photo" src={{post.image}} alt={{post.title}} />
  <p>
    {{post.blog}}
  </p>
  {{update-post post=post update="update"}}
  <button class="btn-danger" {{action 'delete' post}}>Delete Post</button>
</li>
